@charset "UTF-8";
body div {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    line-height: 21px;
}
body h1 {
    color: #001285;
    font-family: "Helvetica Neue", "Helvetica Neue Bold", "Helvetica Neue Bold Italic", "Helvetica Neue Condensed Black", "Helvetica Neue Condensed Bold", "Helvetica Neue Italic", "Helvetica Neue Light Italic", "Helvetica Neue Light", "Helvetica Neue Medium", "Helvetica Neue Medium Italic",;
    font-style: normal;
}
body h2 {
}
body h3 {
    color: #1D7200;
    font-family: "Acumin Pro";
    padding-top: 1px;
    padding-bottom: 0px;
    float: left;
    padding-right: 0px;
}
div form label {
}
body div {
    text-align: left;
    /* [disabled]list-style-position: outside; */
    background-color: #D9D9D9;
    border-radius: 14px;
    /* [disabled]border-collapse: collapse; */
    text-indent: 16px;
    vertical-align: sub;
}
